<.header>
  Edit Comment <%= @comment.id %>
</.header>

<.comment_form
  changeset={@changeset}
  action={~p"/comments/#{@comment.id}"}
  current_user={@current_user}
/>

<.back navigate={~p"/posts/#{@comment.post_id}"}>Back to post</.back>
